<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn" [ngClass]="{'btn-warning': editMode, 'btn-success': !editMode}" type="submit"
                        [disabled]="recipeForm.invalid">{{ editMode ?
                        'Update': 'Add'}}</button>
                    <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="recipeName">Name</label>
                        <input type="text" name="recipeName" id="recipeName" class="form-control"
                            formControlName="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="recipeDescription">Description</label>
                        <textarea name="recipeDescription" id="recipeDescription" class="form-control" rows="6"
                            formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="recipeImagePath">Image URL</label>
                        <input type="text" name="recipeImagePath" id="recipeImagePath" class="form-control"
                            formControlName="imagePath" #imagePath>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img [src]="imagePath.value" alt="" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div class="row" *ngFor="let ingredientControl of ingredientControls; let i = index"
                        [formGroupName]="i">
                        <div class="col-xs-8">
                            <input type="text" [name]="'ingredient-'+i+'-name'" [id]="'ingredient-'+i+'-name'"
                                class="form-control" formControlName="name">
                        </div>
                        <div class="col-xs-2">
                            <input type="number" [name]="'ingredient-'+i+'-amount'" [id]="'ingredient-'+i+'-amount'"
                                class="form-control" formControlName="amount">
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
                </div>
            </div>
        </form>
    </div>
</div>